<div class='container'>
  
  <div class='row'>
    
    <div class="col-md-4 col-md-offset-2">
      <h1>Your robots are standing by</h1>
      <p>They watch the web so you don't have to</p>

      <%= link_to "Login", new_user_session_path, :class => "btn btn-large" %>
      <%= link_to "Signup", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    </div>
    
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag 'NewsUK.png', :class => 'img-responsive img-rounded'%>
    </div>
  
  </div>

</div>
